<div class="container">
    <div class="main-section"> 
        <div class="search-bar-container">
            <div class="search-bar">
                <img src='assets/images/ic_search_24px.svg'>
                <input type="text" >
            </div>
            <div class="new-discussion"> <button mat-raised-button color="primary"> <img src='assets/images/ic_add_24px.svg'></button> </div>
        </div>
        <div class="filters">
            <div class="filter-icon"><img src="assets/images/ic_filter_list_24px.svg"/> </div>
            <div>
                <mat-form-field floatLabel="never">
                    <input type="text" placeholder="Enter Location" matInput [formControl]="myControl"
                         [matAutocomplete]="auto">
                       <mat-autocomplete #auto="matAutocomplete">
                         <mat-option *ngFor="let option of options" [value]="option">
                           {{option}}
                        </mat-option>
                    </mat-autocomplete>
                 </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never">
                    <input type="text" placeholder="Enter Location" matInput [formControl]="myControl"
                         [matAutocomplete]="auto">
                       <mat-autocomplete #auto="matAutocomplete">
                         <mat-option *ngFor="let option of options" [value]="option">
                           {{option}}
                        </mat-option>
                    </mat-autocomplete>
                 </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never">
                    <input type="text" placeholder="Enter Location" matInput [formControl]="myControl"
                         [matAutocomplete]="auto">
                       <mat-autocomplete #auto="matAutocomplete">
                         <mat-option *ngFor="let option of options" [value]="option">
                           {{option}}
                        </mat-option>
                    </mat-autocomplete>
                 </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never">
                    <input type="text" placeholder="Enter Location" matInput [formControl]="myControl"
                         [matAutocomplete]="auto">
                       <mat-autocomplete #auto="matAutocomplete">
                         <mat-option *ngFor="let option of options" [value]="option">
                           {{option}}
                        </mat-option>
                    </mat-autocomplete>
                 </mat-form-field>
            </div>
        </div>
        <div class="feature-game">
            
        </div>
        <div class="games-list"></div>
    </div>
    <div class="sidebar">
        <div class="sections">
            <div class="label">Top Discussions</div> 
        </div>
        <div class="sections">
            <div class="label">Who to follow </div>
        </div>
    </div>
</div>
