<div class="app-container" >
   <div class="content-section">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="navbar" *ngIf='showNavbar'>
  <div class="user-img">
    <img src='assets/images/profile-img.svg'/>
  </div>
  <nav class="navbar-content">
    <div>
      <a routerLink="/dashboard" routerLinkActive="active"><div><img src='assets/images/ic_dashboard_24px.svg'/></div></a>
      <a routerLink="/discussion" routerLinkActive="active"><div><img src='assets/images/ic_insert_comment_24px.svg'/></div></a>
      <a routerLink="/profile" routerLinkActive="active"><div><img src='assets/images/ic_rss_feed_24px.svg'/></div></a>
      
    </div>
    <div>
      <a routerLink="/logout" routerLinkActive="active"><div><img src='assets/images/logout.svg'/></div></a>
    </div>
  </nav>
</div>
