<div class="login-container" fxLayout="row" fxLayoutAlign="space-between center" > 
    <div class="backdrop"> 
      <div class="login-section">
          <div class="login-label">
              Log In
          </div>
          <div class="login-inputs"> 
              <div class="input-container">
                <div> User name </div>
                <mat-form-field class="example-full-width" floatLabel="never">
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              </div> 
          </div>
          <div class="login-submit"> </div>
          <div class="login-register"> </div>
      </div>
    </div>
</div>

<!-- <div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="email">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="tryLogin()">Login</button>
    </div>
  </div> -->