<div class="container">
    <div class="game-section">
        <div class="discussion-game"> 

        </div>
        <div class="create-post">

        </div>
        <div class="posts-list">

        </div>
    </div>
    <div class="additional-details">
        <div class="head-to-head">
            <div class="header"> Head To Head </div>
        </div>
        <div class="league-table">
            <div class="header"> Current League Standings</div>
        </div>    
    </div>
    <div class="sidebar">
        <div class="sections">
            <div class="label">Top Discussions</div> 
        </div>
        <div class="sections">
            <div class="label">Who to follow </div>
        </div>
    </div>
</div>
